/***********************************
 * Global
 ***********************************/

body {
    font-family: 'Open Sans', Arial, sans-serif;
    background: #F9F9F9;
}

/*** Success and errors messages ***/
.errorBox, .successBox {
    box-sizing: border-box;
    width: 90%;
    line-height: 1.5em;
    margin: 20px auto 0 auto;
    padding: 5px 10px;
    word-break: break-word;
}

.errorBox {
    background: #f44336;
    color: #FFFFFF;
}

.successBox {
    background: #4CAF50;
    color: #FFFFFF;
}

.errorBox a,
.successBox a {
    color: #000000;
    text-decoration: none;
}

.errorBox a:hover,
.successBox a:hover {
    text-decoration: underline;
}

/*** Forms ***/
/* Form */
form                { margin-top: 100px; }
form.errorMsgAbove  {margin-top: 50px}

/* Fields and double fields */
.field {
    width: 400px;
    margin: 0 auto 45px auto;
}

.field.double {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.field.double div { width: 190px; }

/* Label */
.field label {
    display: block;
    font-size: 1em;
    margin-bottom: 10px;
}

/* Inputs */
.field input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px;
    font-family: 'Open Sans', Arial, sans-serif;
    background: #F9F9F9;
    border: none;
    border-bottom: 2px #707070 solid;
}

.field input:required { box-shadow:none; }
.field input:invalid { border-color: #ff4444; }
.field input:placeholder-shown { border-color: #707070; }
.field input:focus { border-color: #A94CE6; }

/* Submit button */
input[type=submit] {
    display: block;
    width: 170px;
    height: 50px;
    margin: 75px auto 0 auto;
    background: #A94CE6;
    /*background: linear-gradient(75deg, rgb(254, 110, 196), rgb(120, 115, 245));*/
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    transition: background-color 250ms;
    cursor: pointer;
}

input[type=submit]:hover { background-color: #9a4cd7; }
input[type=submit]:active { background-color: #884ac3; padding: 0; transition-duration: 0s }

/* "Already have an account" link */
#switchRegLog { text-align: center; }
#switchRegLog a { text-decoration: none; color: #A94CE6; }
#switchRegLog a:hover { text-decoration: underline; }

/***********************************
 * Register and login page
 ***********************************/

#registerBody, #loginBody {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

/*** Container ***/
#registerContainer, #loginContainer {
    width: 768px;
    height: 100%;
}

/* Header */
#registerHeader, #loginHeader {
    text-align: center;
    padding-top: 75px;
}

#registerHeader h1, #loginHeader h1 {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
}

/*** Img ***/
#registerRightImg, #loginRightImg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 768px;
    background: url("../images/registerImg.jpg") no-repeat;
    background-size: cover;
}

/***********************************
 * Index
 ***********************************/

/*** Header ***/
header {
    height: 95px;
    background: #A94CE6;
    color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);
}

/* Logo */
#logo {
    display: inline-block;
    float: left;
    width: 61px;
    height: 61px;
    margin: 17px 0 17px 115px;
    /**********/
    border-radius: 50%;
    background: #9744ce;
    /**********/
}

/* User */
#user {
    display: inline-block;
    float: right;
    width: 275px;
    height: 61px;
    margin: 17px 115px 17px 0;
}

#user p {
    display: inline-block;
    width: 65%;
    font-size: 1.25em;
}

#disconnect {
    display: inline-block;
    float: right;
    text-align: center;
    width: 61px;
    height: 61px;
    line-height: 61px;
    font-size: 2.5em;
    background: #9744ce;
    color: #551A8B;
    transition: color 250ms;
}

#disconnect:hover {
    color: #481a7e;
}